<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='index.css')}}">
        <script src="{{url_for('static',filename='index.js')}}" defer></script>
        <title>Address Book</title>
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <div>
                    <h1>Contacts</h1>
                    <button type="button" class="button-add-contact">+</button>
                </div>
                <ul class="contact-list">
                </ul>
            </div>
            <div class="contact-details">
                <form>
                    <label>First Name: </label> <input type="text" id="first-name" disabled>
                    <label>Last Name: </label> <input type="text" id="last-name" disabled>
                    <div class="emails">
                        <label>Email</label>
                        <ul class="email-list">
                        </ul>
                        <button type="button" class="button-add-email hidden">+ Add Email</button>
                    </div>
                    <div class="contact-buttons">
                        <button type="button" class="button-delete-contact">Delete</button>
                        <button type="button" class="button-edit-contact">Edit</button> 
                        <button type="button" class="button-cancel-contact hidden">Cancel</button>
                        <button type="button" class="button-save-contact hidden">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>