<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='index.css')}}">
        <script src="{{url_for('static',filename='index.js')}}" defer></script>
        <title>Address Book</title>
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <div class="sidebar-header">
                    <h1>Contacts</h1>
                    <button type="button" class="button-add-contact button-blue-plus">+</button>
                </div>
                <ul class="contact-list">
                </ul>
            </div>
            <div class="contact-details">
                <form>
                    <div class="section-name-inputs">
                        <div class="name-input">
                            <label>First Name</label> <input type="text" id="first-name" disabled>
                        </div>
                        <div class="name-input">    
                            <span class="error-message hidden error-first-name">First name required</span>
                            <label>Last Name</label> <input type="text" id="last-name" disabled>
                        </div>
                    </div>
                    <div class="emails">
                        <label>Email</label>
                        <ul class="email-list">
                        </ul>
                        <button type="button" class="button-add-email hidden">
                            <span class="button-blue-plus">+</span>
                            <span class="text-add-email">add email</span>
                        </button>
                    </div>
                </form>
                <div class="contact-buttons">
                    <button type="button" class="button-delete-contact">Delete</button>
                    <div class="contact-buttons-right">
                        <button type="button" class="button-edit-contact">Edit</button> 
                        <button type="button" class="button-cancel-contact hidden">Cancel</button>
                        <button type="button" class="button-save-contact hidden">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>